<div class="alert alert-info" *ngIf="!country; else divCountry">
    Espere por favor...
</div>

<ng-template #divCountry> 
    <div class="row">
        <div class="col-12">
            <h2>Pais: <small>{{ country.name }}</small></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img class="img-thumbnail" [src]="country.flag" alt="{{ country.name }}">
        </div>

        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población:</strong> {{ country.population | number }}
                </li>

                <li class="list-group-item">
                    <strong>Código Numérico:</strong> {{ country.numericCode }}
                </li>

                <li class="list-group-item">
                    <strong>Código Alpha 3:</strong> {{ country.alpha3Code }}
                </li>

            </ul>
        </div>

    </div>

    <hr>

    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary ms-1">{{ country.translations.br }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.de }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.es }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.fa }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.fr }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.hr }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.it }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.ja }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.nl }}</span>
            <span class="badge bg-primary ms-1">{{ country.translations.pt }}</span>            
        </div>
    </div>
</ng-template>

